.searchInpWrapper{
    font-size: 1.5em;
}

.searchInput{
    background-color: black;
    border: none;
    border-bottom: 1px solid white;
    color: #fff;
    text-align: center;
    font-size: 0.9em;
    width: 150px;
}

.searchInput:focus{
    background-color: black !important;
    border-bottom: 1px solid white;
    outline: none;
}

.searchInput value {
    background-color: black;
}
