.categories{
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    padding: 5em 0;
}

.categories button {
    border: none;
    background: none;
    border-radius: 0;
    border-bottom: 1px solid white;
    color: #fff;
}

.categories button:hover {
    color:rgb(201, 22, 22);
    border-bottom: 1px solid rgb(201, 22, 22)
}