.heroBackground{
    background-image: url(https://raw.githubusercontent.com/ElizaCalmau/Cineman/master/img/hero_bg.jpg);
    background-size: 85%;
    width: 100vw;
    height: 65vh;
    background-position: center -24%;
}