.homepageMovies{
    height: fit-content;
    width: 100vw;
    background-color: black;
}

.homepageMovies h2{
    margin: 0;
}

.homepageMovies p {
    font-size: 15px;
}

.movieDescription{
    border: 1px solid white;
    border-radius: 6px;
    width: 50%;
    text-align: left;
    padding: 2em;
    box-sizing: border-box;
}

.Link{
    float: right;
    color: #fff;
    font-family: 'Philosopher';
}
.moviePoster {
    border: 1px solid white;
    padding: 8px;
    border-radius: 6px;
    min-width: 185px;
    min-height: 250px;
}
/* .moviePoster img{
    border: 1px solid white;
    padding: 8px;
    border-radius: 6px;
} */
.movieWrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.5em;
    width: 100vw;
}
