.search{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-color: #000;
    padding: 5em 0;
}

.search button:hover {
    color:rgb(201, 22, 22)
}