.moviePage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    height: fit-content;
    padding: 1.4em;
    background-color: black;
}

.trailer{
    margin: 4em;
}

.moviePage button {
    width: fit-content;
    padding: 1em 2em;
}
.moviePoster img{
    width: 342px;
    box-shadow: 0px 0px 8px 0 white;
    border-radius: 6px;
}

.moviePage iframe {
    box-shadow: 0px 0px 8px 0 white;
    border-radius: 6px;
}