.favPage{
    min-height: 100vh;
    height: fit-content;
    background-color: black;
}

.favPage h2{
    margin: 0;
    padding: 2em;
}

.favWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding: 2em;
}

.favMovie{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favMovie button{
    width: fit-content;
}

.favMovie button:hover {
    color:rgb(201, 22, 22);
}

.movPageLink{
    color: #fff;
    font-family: 'Philosopher';
    font-size: 1.5em;
    padding: 1em; 
}

.movPageLink:hover {
    color:rgb(201, 22, 22);
}