@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Playfair+Display+SC&display=swap');


body {
    font-family: 'Playfair Display SC', serif;
    color: #fff;
}

#root {
  margin: 0 auto;
  text-align: center;

}

p, h3 {
  font-family: 'Philosopher', serif;
}

h2 {
  margin: 0;
}