@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Playfair+Display+SC&display=swap');


body {
    font-family: 'Playfair Display SC', serif;
    color: #fff;
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

p, h3, ul {
  font-family: 'Philosopher', serif;
}

p{
  font-size: 19px;
}

nav{
  padding: 1.5em;
  font-size: 2em;
  background-color: black;
}

.navLink{
  color: #fff;
  margin: 2em;
  transition: all 0.3s ease
}

.navLink:hover{
  color:rgb(201, 22, 22);
  border-bottom: 1px solid rgb(201, 22, 22);
}

.activeNavLink{
  border-bottom: 1px solid white
}
